.content-creation-page {
  background-color: black;
  min-height: 100vh;
  padding: 8rem 0 0;
}

.content-container {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* Main Video Section */
.main-video {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.main-video video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
}

.gradient-fallback {
  width: 100%;
  height: 450px;
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
}

/* Thumbnails Section */
.thumbnails-container {
  position: relative;
  display: flex;
  align-items: center;
}

.thumbnails-wrapper {
  overflow: hidden;
  flex-grow: 1;
  padding: 2rem 0;
}

.thumbnails {
  display: flex;
  padding: 10px;
  gap: 15px;
  transition: transform 0.3s ease-in-out;
  scroll-snap-type: x mandatory;
}

.thumbnail {
  width: 150px;
  height: 90px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  background: linear-gradient(135deg, #111, #111521);
  /* Gradient fallback */
  scroll-snap-align: center;
  border: 2px solid transparent;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.thumbnail.active {
  border-color: #3498db;
  /* Highlight active thumbnail */
}

.nav-btn {
  /* background-color: #fff; */
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 10px;
  color: #3498db;
  transition: all 0.3s ease;
  z-index: 10;
}

.nav-btn:hover {
  color: #8e44ad;
}