.sidebar {
    width: 10%;
    height: 100vh;

    background-image: linear-gradient(rgb(162, 2, 162), rgb(199, 20, 148),black);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .sidebar-content {
    color: #fff;
    text-align: center;
  }
  
  .sidebar-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .sidebar-item:hover {
    color: #ffcc00;
    transform: scale(1.1);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
  }
  
  .sidebar-item:active {
    transform: scale(0.95);
  }
  
  